{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Gabriel's Blog</h1>
{% endblock page_header %}

{% block content %}
    <body>
    <ul>
        {% for blogpost in blogposts %}
            <h3><p><a href="{% url 'blogs:edit_blogpost' blogpost.id %}">
                {{ blogpost.title|default:"Without title" }}
            </a></p></h3>
            <p>
                {{ blogpost.text }}
            </p>
            <div class="card-body"><p>
                {{ blogpost.date_added|date:'M d, Y H:i' }}
            </p></div>
        {% empty %}
            <p>
                There are no blog posts...sadly
            </p>
        {% endfor %}
    </ul>
    </body>
{% endblock content %}